<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Bugzkilla-20160304025221.mdf;Initial Catalog=aspnet-Bugzkilla-20160304025221;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>