
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExternalTool</title>
    @Scripts.Render("~/bundles/externalScriptBundle")
    @Styles.Render("~/Content/external")
</head>
<body style="background: white">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="/Content/Images/slider-01.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Your bug is a click away from being revised?</h1>
                        <p>2 weeks free trial</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="first-slide" src="/Content/Images/slider-02.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Just point out the bugz</h1>
                        <p>Simple to use, easy to point out</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Start Free Trial</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="first-slide" src="/Content/Images/slider-03.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Enjoy detecting bugz with our app ;)</h1>
                        <p>2 weeks free trial</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="first-slide" src="/Content/Images/slider-04.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Let your users easily detect bugs</h1>
                        <p>Simple interface with nothing extra</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Start Free Trial</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->


    <div class="container marketing txt-c">
        <p><h1>Why us?</h1></p>
        <br><br>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="" src="/Content/Images/feature-ico-01.png" alt="Generic placeholder image" width="125" height="125">
                <h2>Easy to install</h2>
                <p>Easy to install to any web site</p>
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="" src="/Content/Images/feature-ico-02.png" alt="Generic placeholder image" width="125" height="125">
                <h2>Friendly interface</h2>
                <p>Simple interface and easy to use</p>
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="" src="/Content/Images/feature-ico-03.png" alt="Generic placeholder image" width="125" height="125">
                <h2>QA Targeted</h2>
                <p>Q.A targeted application</p>
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div><!-- /.container -->

    <br><br><br>

    <div class="block-cta-01-bg">

        <div class="container">
            <div class="home-cta-block">
                <br>

                <br><br><br>
                <div class="row">
                    <div class="col-lg-6">
                        <img alt="ntbk" src="/Content/Images/bl-01-notebook.png" height="294" width="518">
                    </div>

                    <div class="col-lg-5">

                        <p><h1>Interested in our app?</h1></p>
                        <p>try it out for free</p>

                        <br>
                        <div class="home-cta-btn">
                            <p><a class="btn btn-lg btn-default" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
    <div class="how-we-work-bg">
        <div class="container txt-c">
            <br><br><br>
            <p><h1>How it works?</h1></p>
            <p>Whach out how easy it is to interact with bugzkilla interface</p>

            <br><br>

            <div class="how-we-work-box">
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
                <br><br>
                <hr>

                @*<iframe width="958" height="630" src="https://www.youtube.com/watch?v=VjNxMa1i6SM" frameborder="0" allowfullscreen></iframe>*@
                <iframe width="1120" height="630" src="https://www.youtube.com/embed/VjNxMa1i6SM" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
        <br><br><br>
    </div><!--how-we-work-bg-->

    <div class="block-cta-02-bg">
        <div class="container">
            <br>

            <br><br>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <p><h1>Interested in our app?</h1></p>
                    <p>try it out for free</p>
                </div>

                <div class="col-lg-3">
                    <br>
                    <div class="home-cta-btn">
                        <p><a class="btn btn-lg btn-default" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="boxes-four-bg">

        <div class="container">
            <br><br><br><br><br>
            <div class="boxes-four-wrap">
                <div class="boxes-four-block-01 boxes-four-style">
                    <span>Integrated</span>
                    <div id="boxes-four-01-show" class="boxes-four-block-hover-01 boxes-four-block-hover-style">
                        <div><p>Integrated</p></div>
                    </div>
                </div>
                <div class="boxes-four-block-02 boxes-four-style">
                    <span>Features</span>
                    <div id="boxes-four-02-show" class="boxes-four-block-hover-02 boxes-four-block-hover-style">
                        <div><p>Features</p></div>
                    </div>
                </div>
                <div class="boxes-four-block-03 boxes-four-style">
                    <span>Tracking</span>
                    <div id="boxes-four-03-show" class="boxes-four-block-hover-03 boxes-four-block-hover-style">
                        <div><p>Tracking</p></div>
                    </div>
                </div>
                <div class="boxes-four-block-04 boxes-four-style">
                    <span>Interface</span>
                    <div id="boxes-four-04-show" class="boxes-four-block-hover-04 boxes-four-block-hover-style">
                        <div><p>Interface</p></div>
                    </div>
                </div>

                <div id="boxes-four-01-frame" class="boxes-four-inner-frame">

                    <div class="boxes-four-inner-frame-header">
                        <p>Integrated</p>
                        <div id="boxes-four-01-close" class="" href=""></div>
                    </div>


                    <div class="boxes-four-inner-frame-body">

                        <p class="inner-frame-body-title1"><h1>Most wanted features</h1></p>

                        <br><br>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-01.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-02.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-03.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <br><br><br style="clear:both"><br><br>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>

                        <img class="" alt="img" src="/Content/Images/boxes-four-02.png" width="250" height="250" style="float:left; margin-top:-58px;margin-left:-28px;">

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br><br style="clear:both">
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                </div>
                <div id="boxes-four-02-frame" class="boxes-four-inner-frame">

                    <div class="boxes-four-inner-frame-header">
                        <p>Features</p>
                        <div id="boxes-four-02-close" class="" href=""></div>
                    </div>


                    <div class="boxes-four-inner-frame-body">

                        <p class="inner-frame-body-title1"><h1>Most wanted features</h1></p>

                        <br><br>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-01.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-02.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-03.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <br><br><br style="clear:both"><br><br>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>

                        <img class="" alt="img" src="/Content/Images/boxes-four-02.png" width="250" height="250" style="float:left; margin-top:-58px;margin-left:-28px;">

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br><br style="clear:both">
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                </div>
                <div id="boxes-four-03-frame" class="boxes-four-inner-frame">

                    <div class="boxes-four-inner-frame-header">
                        <p>Tracking</p>
                        <div id="boxes-four-03-close" class="" href=""></div>
                    </div>


                    <div class="boxes-four-inner-frame-body">

                        <p class="inner-frame-body-title1"><h1>Most wanted features</h1></p>

                        <br><br>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-01.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-02.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-03.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <br><br><br style="clear:both"><br><br>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>

                        <img class="" alt="img" src="/Content/Images/boxes-four-02.png" width="250" height="250" style="float:left; margin-top:-58px;margin-left:-28px;">

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br><br style="clear:both">
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                </div>
                <div id="boxes-four-04-frame" class="boxes-four-inner-frame">

                    <div class="boxes-four-inner-frame-header">
                        <p>Interface</p>
                        <div id="boxes-four-04-close" class="" href=""></div>
                    </div>


                    <div class="boxes-four-inner-frame-body">

                        <p class="inner-frame-body-title1"><h1>Most wanted features</h1></p>

                        <br><br>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-01.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-02.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <img class="inner-feature-img" alt="feature" src="/Content/Images/feature-ico-inner-03.png" width="92" height="92">
                        <p class="inner-feature-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <br><br><br style="clear:both"><br><br>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>

                        <img class="" alt="img" src="/Content/Images/boxes-four-02.png" width="250" height="250" style="float:left; margin-top:-58px;margin-left:-28px;">

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br><br style="clear:both">
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


                        <br>
                        <p class="inner-frame-body-title2">Lorem Ipsum</p>
                        <hr>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <br><br><br>
    <div class="block-workwith-bg">
        <div class="container txt-c">
            <br><br><br>
            <p><h1>We work with</h1></p>

            <div class="workwith-blocks">
                <br><br><br>
                <img alt="Work with" src="/Content/Images/workwith-services-01.png" width="271" height="142">
                <img alt="Work with" src="/Content/Images/workwith-services-02.png" width="271" height="142">
                <img alt="Work with" src="/Content/Images/workwith-services-03.png" width="271" height="142">
            </div>

        </div>

    </div>
    <br><br><br>

    <div class="block-extentions-bg">
        <div class="container txt-c">
            <p><h1>Extention plugins</h1></p>
            <p>We are available via</p>
            <br><br>


            <div class="how-we-work-box">
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
                <br><br>
                <hr>


                <br><br><br><br><br>

                <div class="row">
                    <div class="col-lg-4">
                        <img class="" src="/Content/Images/extention-ico-01.png" alt="Generic placeholder image" width="125" height="125">
                        <h2>Chrome</h2>
                        <p></p>
                        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="" src="/Content/Images/extention-ico-02.png" alt="Generic placeholder image" width="125" height="125">
                        <h2>Safari</h2>
                        <p></p>
                        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="" src="/Content/Images/extention-ico-03.png" alt="Generic placeholder image" width="125" height="125">
                        <h2>Opera</h2>
                        <p></p>
                        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->

            </div>

            <img class="ext-laptops" alt="Laptops" src="/Content/Images/extention-laptops.png" width="539" height="303">

        </div>

        <div class="block-cta-ext-bg">
            <div class="container txt-c">

                <br><br><br><br>

                <p><a class="btn btn-lg btn-default" href="#" role="button">Get Bugzkilla plugin for Safari browser</a></p>
                <p><a href="#" class="ext-a-other">Choose other browser</a></p>
                <br>




            </div>
        </div>

    </div>


    <div class="block-comments-bg">
        <div class="container txt-c">
            <br><br><br>
            <img class="comments-bl-img" alt="Comment" src="/Content/Images/comment-01.jpg" width="125" height="125">
            <h1>Richard Brown</h1>
            <p class="comments-companyname">General inc</p>
            <p class="comments-text">Bugzkilla is easily identify issues for our QAs. I really enjoyed it very much, I’m looking forward to using it on larger projects!</p>
            <br>
            <div style="width:100px;margin:0 auto;">
                <div class="browser-circle" style="background-color:#919191"></div>
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
                <div class="browser-circle"></div>
            </div>

        </div>
    </div>
    <br><br><br>

</body>
</html>
